body{font-family: 'Anton', sans-serif;font-family: 'Noto Serif', serif;}

.h1{font-family: 'Anton', sans-serif;}


/*start page2about*/


.page2about{margin-bottom: 100px;}

.page2about img{margin-left: 201px;margin-top: 33px;}

.page2about p{line-height: 1.7;font: 20px}

/*start lo section*/
.lo{margin-bottom: 100px;}

/*start happy section*/
.happy{margin-bottom: 100px;}

.happy .lom{padding-top: 135px;}

